<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm glass-card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <h1 class="profile-name">
                            {{ site.data.profile.primary_name }}
                            <small style="color: var(--text-muted);">{{ site.data.profile.secondary_name }}</small>
                        </h1>
                        <p class="text-profile-position">
                            {% for position in site.data.profile.positions %}
                            {% if position.logo -%}
                            <img src="{{ position.logo | relative_url }}" alt="{{ position.name }}" class="inline-badge"/>
                            {%- endif %}
                            {{ position.name }}<br/>
                            {% endfor %}
                        </p>
                        <p class="text-profile-bio">
                            {{ site.data.profile.short_bio }}
                        </p>
                        {% if site.data.profile.cv_link %}
                            <a class="cv-link" target="_blank" href="{{ site.data.profile.cv_link }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a> <br/>
                        {% endif %}
                        {% if site.data.profile.cv_links %}
                            {% for cv in site.data.profile.cv_links %}
                                <a class="cv-link {% unless forloop.first %}cv-link-secondary{% endunless %} mr-2 mb-2" target="_blank" href="{{ cv.url | relative_url }}"><i class="fas fa-file-alt"></i> {{ cv.name }}</a>
                            {% endfor %}
                            <br/>
                        {% endif %}
                    </div>
                    {% if site.data.profile.portrait_url %}
                    <div class="col-md-auto d-none d-md-block">
                        <figure class="figure portrait-sr">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                alt="Portrait of {{ site.data.profile.primary_name }}"
                                class="figure-img img-thumbnail mb-0 portrait-sr-img" 
                                width="143" height="200"
                                {% if site.data.profile.portrait_caption %}title="{{ site.data.profile.portrait_caption | strip_html }}"{% endif %}
                            >
                        </figure>
                    </div>
                    {% endif %}
        
                </div>
                <hr />
                <div class="row">
                    <div class="col social-links">
                        <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}">
                            <i class="fas fa-at"></i> <span class="email-text">{{ site.data.profile.email | replace: "@", "(at)" }}</span>
                        </a>

                        {% if site.data.profile.gscholar %}
                        <a class="pr-3 no-break" target="_blank" href="https://scholar.google.com/citations?user={{ site.data.profile.gscholar }}&hl=en">
                            <i class="fab fa-google-scholar"></i> Google Scholar
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                        {% endif %}

                        {% if site.data.profile.blog %}
                        <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.blog }}">
                            <i class="fas fa-blog"></i> Blog
                        </a>
                        {% endif %}

                        {% if site.data.profile.wechat_qrcode %}
                        <a class="pr-3 no-break" href="#" data-open-dialog="dialog-wechat" style="cursor: pointer;">
                            <i class="fab fa-weixin"></i> WeChat
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                        {% endif %}

                        {% if site.data.profile.orcid %}
                        <a class="pr-3 no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                            <i class="fab fa-orcid"></i> ORCID
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<dialog class="qr-dialog" id="dialog-wechat" aria-label="WeChat QR code">
    <img src="{{ site.data.profile.wechat_qrcode }}" alt="WeChat QR code" class="img-fluid qr-dialog-img">
    {% if site.data.profile.wechat_prompt %}
    <div class="qr-dialog-body">{{ site.data.profile.wechat_prompt }}</div>
    {% endif %}
    <div class="qr-dialog-footer">
        <button type="button" class="btn btn-primary" data-close-dialog>Close</button>
    </div>
</dialog>
{% endif %}
